<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>Date</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam cupiditate facilis impedit ipsum
      laborum maiores possimus quasi repellendus reprehenderit. Alias aliquid animi architecto corporis ducimus eius eos
      exercitationem hic id illum in incidunt inventore laboriosam, neque nostrum possimus praesentium quas, quos ut
      velit. Debitis officiis quam quasi repellat sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam cupiditate facilis impedit ipsum
      laborum maiores possimus quasi repellendus reprehenderit. Alias aliquid animi architecto corporis ducimus eius eos
      exercitationem hic id illum in incidunt inventore laboriosam, neque nostrum possimus praesentium quas, quos ut
      velit. Debitis officiis quam quasi repellat sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam cupiditate facilis impedit ipsum
      laborum maiores possimus quasi repellendus reprehenderit. Alias aliquid animi architecto corporis ducimus eius eos
      exercitationem hic id illum in incidunt inventore laboriosam, neque nostrum possimus praesentium quas, quos ut
      velit. Debitis officiis quam quasi repellat sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam cupiditate facilis impedit ipsum
      laborum maiores possimus quasi repellendus reprehenderit. Alias aliquid animi architecto corporis ducimus eius eos
      exercitationem hic id illum in incidunt inventore laboriosam, neque nostrum possimus praesentium quas, quos ut
      velit. Debitis officiis quam quasi repellat sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam cupiditate facilis impedit ipsum
      laborum maiores possimus quasi repellendus reprehenderit. Alias aliquid animi architecto corporis ducimus eius eos
      exercitationem hic id illum in incidunt inventore laboriosam, neque nostrum possimus praesentium quas, quos ut
      velit. Debitis officiis quam quasi repellat sunt!</p>
  </div>
</div>
