<form
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h1>Creating new post</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Title:</label>
    <input
      id="title"
      type="text"
      formControlName="title"
    >
    <div
      class="validation"
      *ngIf="form.get('title').touched && form.get('title').invalid"
    >
      <small *ngIf="form.get('title').errors.required">
        Title is empty
      </small>
    </div>
  </div>

  <div
    class="form-control"
  >
    <label>Post Content:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div class="form-control">
    <label>Author is "{{author?.firstName}}"</label>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >
    Create
  </button>
</form>
